.flash {
  font-size: 1.5rem;
  font-family: $header-font;
  line-height: 1;
  background-color: $oakland-green;
  background-color: rgba($oakland-green, 0.95);
  color: $white;
  padding: 10px 0;
  position: relative;

  @include media($bp-md) {
    padding: 1.875rem 0;
  }

  &:before {
    content: "";
    background-image: url(../img/bg-pattern-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    /* IE 5-7 */
    filter: alpha(opacity=35);
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
    opacity: 0.35;

    @include media($bp-md) {
      background-image: url(../img/bg-pattern-large.png);
      background-position: 0px random(800) - 800 + px;
    }
  }

  &.flash-warn {
    background-color: $warning;
    background-color: rgba($warning, 0.95);

    @include media($bp-md) {
      &:before {
        background-position: 0px random(800) - 800 + px;
      }
    }
  }

  &.flash-alert {
    background-color: $alert;
    background-color: rgba($alert, 0.95);

    @include media($bp-md) {
      &:before {
        background-position: 0px random(800) - 800 + px;
      }
    }
  }

  .flash-type {
    display: inline-block;
    vertical-align: middle;
    background-color: $black;
    background-color: rgba($black, 0.25);
    font-size: 0.875rem;
    padding: 7px 16px 5px;
    margin-right: $gutter;

  }

  .flash-text {
    display: block;
    font-size: 1.1875rem;
    margin: 10px 0;

    @include media($bp-md) {
      font-size: 1.5rem;
      display: inline-block;
      margin: 0;
    }
  }

  a {
    display: inline-block;
    vertical-align: baseline;
    color: $white;
    font-size: 1rem;

    @include media($bp-md) {
      margin-left: $gutter;
      font-size: 1.1875rem;
    }

    &:active {
      color: darken($white, 10%);
    }
  }
}