* {
  box-sizing: border-box;
}

html {
  font-size: 19px;
}

input,
select,
textarea,
button {
  font: #{$body-font-size}/1.5 $body-font;
}

body {
  font: #{$body-font-size}/1.5 $body-font;
  color: $gray-dark;
  background-color: #fff;
}

.docs-example {
  font-family: $body-font;
}

a {
  color: $oakland-green;
  text-decoration: none;

  &:hover,
  &:active {
    text-decoration: underline;
  }
}

// Horizontal lines
//
hr {
  height: 0;
  margin-bottom: 2rem;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 3px solid $gray-lighter;
  @include clearfix();
}
