// Reset button styles
button {
  padding: 0;
  margin: 0;
}

// Standard Buttons - these may end up inheriting section colors.
// Need to implement color variables later
.btn,
a.btn {
  display: inline-block;
  vertical-align: middle;
  color: $white;
  background-color: darken($oakland-green, 20%);
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  padding: 1rem;
  transition: all 0.15s ease;
  text-decoration: none;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 2px;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: darken($oakland-green, 20%)
  }

  &:hover,
  &:focus {
    background-color: darken($oakland-green, 40%);

    &:before {
      background-color: $oakland-green;
    }
  }

  &:active {
    background-color: $oakland-green;

    &:before {
      background-color: darken($oakland-green, 40%);      
    }
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled]:active,
  &.disabled,
  &.disabled:hover,
  &.disabled:focus,
  &.disabled:active {
    pointer-events: none;
    background-color: rgba(lighten($oakland-green, 10%), 0.2);
    cursor: default;

    &:before {
      background-color: rgba(lighten($oakland-green, 10%), 0.2);
    }
  }

  // &.arrow-right {
  //   padding-right: 45px;
  //   position: relative;

  //   &:before {
  //     content: "\e87a";
  //     font-family: Linearicons-Free;
  //     font-size: 20px;
  //     position: absolute;
  //     right: 15px;
  //   }
  // }

  span {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
  }
}

// These buttons are white with a colored outline by default
.btn-secondary,
a.btn-secondary {
  background-color: $white;
  color: darken($oakland-green, 20%);
  border: 1px solid darken($oakland-green, 20%);

  &:before {
    background-color: transparent;
  }

  &:hover,
  &:focus,
  &:active {
    color: $white;
    border: 1px solid $white;
  }

  &:hover,
  &:focus {
    &:before {
      background-color: $oakland-green;
    }
  }

  &:active {
    &:before {
      background-color: darken($oakland-green, 40%);
    }
  }
}

// Full width block buttons
.btn-block,
a.btn-block {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 1.25rem;
}