.site-footer {
	background: $gray-lighter;
	padding-top: 2rem;
	font-size: 0.875rem;

	.footer-links {
		padding: 0;

		a {
			font-size: 0.875rem;
			line-height: 1.2;
			color: $gray-dark;

			&:hover, &:focus {
				text-decoration: underline;
			}

			&:active {
				color: $black;
			}
		}
	}

	.site-logo {
		width: 100%;
		max-width: 173px;
		height: auto;
		padding-bottom: 2.5rem;
	}

	hr {
		border-color: $gray;
	}
}

// The bottom section of the site footer
.footer-omega {
	margin-bottom: 0;
	position: relative;
	margin-top: 2.5rem;

	.right {
		a {
			font-size: 1rem;
			color: $muted;

			&:active {
				color: $gray;
			}
		}
	}

	&:before {
		content: "";
		position: absolute;
		left: -$gutter;
		top: 0;
		bottom: 0;
		width: 2px;
		background-color: $oakland-green;
	}
}