// Header styles
.header-wrap {
	background: $gray-lighter;
}

.page-header {
	position: relative;
	margin-bottom: 2.5rem;

	&:before {
		content: "";
		position: absolute;
		left: -$gutter;
		top: 0;
		bottom: 0;
		width: 2px;
		background-color: $oakland-green;
	}

	.site-logo {
		max-width: 173px;
		display: inline-block;
		vertical-align: middle;
		padding-top: 2.5rem;
		position: relative;

	}

	.header-nav-button,
	.header-search-button {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		font-size: 20px;
		float: right;
		margin-top: 3.25rem;
		margin-left: 2rem;

		&:hover, &:focus {
			text-decoration: none;
		}

		&:active {
			text-decoration: none;
		}
	}
}

// Temporary Parking color for demo
// @todo remove this when we have final colors
.parking {
	background: #009691;
}