// Fixed-width, centered column for site content.
// Uses Neat's outer-container. The $max-width variable is set before including Neat in oakland.scss
.container {
  @include outer-container();
  position: relative;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  box-sizing: content-box;
  margin-left: 1.25rem;
  margin-right: 1.25rem;

  @include media(1100px) {
    margin: 0 auto;
  }

  @include media($bp-xl) {
    max-width: 1200px;
  }
}

// Grid system
//
// Create rows with `.grid-row`
// Create columns with `.column` and one of the following Column Width classes
.grid-row {
  @include row();
  margin-bottom: 2rem;
}

.column {
  &.centered {
    // Override Neat's :last-child rule for centered columns
    margin-right: auto !important;
  }
}

// Column widths
.one-third {
  @include fill-parent;
  margin-bottom: 1.5rem;

  @include media($bp-md) {
    @include span-columns(4);
    @include omega(3n);
  }
}

.two-thirds {
  @include fill-parent;
  margin-bottom: 1.5rem;

  @include media($bp-md) {
    @include span-columns(8);
  }
}

.one-fourth {
  @include fill-parent;
  margin-bottom: 1.5rem;

  @include media($bp-md) {
    @include span-columns(3);
    @include omega(4n);
  }
}

.one-half {
  @include fill-parent;
  margin-bottom: 1.5rem;

  @include media($bp-md) {
    @include span-columns(6);
    @include omega(2n);
  }
}

.three-fourths {
  @include fill-parent;
  margin-bottom: 1.5rem;

  @include media($bp-md) {
    @include span-columns(9);
  }
}

.column-shift {
  @include media($bp-md) {
    @include shift;
  }
}

.column-last {
  @include omega();
}