// Basic menu
//
// A menu on the side of a page, defaults to left side. e.g. github.com/about
.menu-item {
  position: relative;
  display: block;
  color: $oakland-green;
  padding: 6px 5px 4px $gutter;
  margin-left: -$gutter; // negative margin + extra padding trick to pull the background over the left gutter

  &:hover, &:focus {
    text-decoration: none;
    background-color: $gray-lighter;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2px;
      content: "";
      background-color: $oakland-green;
    }
  }

  &:active {
    color: darken($oakland-green, 10%);
    &:before {
      background-color: darken($oakland-green, 10%);
    }
  }

  &.selected {
    cursor: default;
    background-color: $gray-lighter;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2px;
      content: "";
      background-color: $oakland-green;
    }
  }
}

// Section menu
.section-menu {

  .menu-item {
    color: $white;
    font-size: 1rem;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2px;
      content: "";
      background-color: $oakland-green;
      transition: all 0.2s ease;
    }

    &:hover, &:focus {
      background-color: transparent;

      &:before {
        background-color: $white;
      }
    }

    &:active {
      background-color: darken($oakland-green, 10%);

      &:before {
        background-color: darken($white, 10%);
      }
    }

    &.selected {
      background-color: darken($oakland-green, 10%);

      &:before {
        background-color: $white;
      }
    }
  }
}

