// Basic menu
//
// A menu on the side of a page, defaults to left side. e.g. github.com/about
.menu-item {
	position: relative;
	display: block;
	color: $oakland-green;
	padding: 6px 5px 4px $gutter;
	padding: 0.375rem 0.3125rem 0.25rem $gutter;
	margin-left: -$gutter; // negative margin + extra padding trick to pull the background over the left gutter

	&:hover,
	&:focus {
		text-decoration: none;
		background-color: $gray-lighter;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 2px;
			content: "";
			background-color: $oakland-green;
		}
	}

	&:active {
		color: darken($oakland-green, 10%);

		&:before {
			background-color: darken($oakland-green, 10%);
		}
	}

	&.selected {
		cursor: default;
		background-color: transparent;

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 2px;
			content: "";
			background-color: $oakland-green;
		}
	}

	span {
		color: $color-text-body;
		display: block;
	}
}

// Section menu
.section-menu {
	position: relative;

	.menu-item {
		color: $white;
		font-size: 1rem;
		padding: 9px 5px 9px $gutter;
		padding: 0.5625rem 0.3125rem 0.5625rem $gutter;
		transition: background 0.2s ease;

		&:before {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 2px;
			content: "";
			background-color: transparent;
			transition: all 0.2s ease;
			@include media($bp-md) {
				display: block;
			}
		}

		&:hover, &:focus {
			background-color: transparent !important;
			color: $white !important;

			&:before {
				background-color: $white !important;
			}
		}

		&:active {
			background-color: $black;
			background-color: rgba($black, 0.5) !important;

			&:before {
				background-color: darken($white, 10%) !important;
			}
		}

		&.active {

			&:before {
				background-color: $white !important;
			}
		}
	}

	// If the menu is in going into or out of sticky mode 
	// &.sticky {
	//   @include media($bp-md) {
	//     position: fixed;
	//     top: $header-height-lg;
	//     background-color: $rockridge-gray;
	//     width: 15%;
	//     z-index: 1000;

	//     &:after {
	//       content: "";
	//       position: absolute;
	//       top: 0;
	//       bottom: 0;
	//       width: 1.25rem; // change the size of the :before content to not extend the full width of the parent
	//       left: -1.25rem;
	//       background-color: $rockridge-gray;
	//       z-index: -1;
	//     }

	//     &:before {
	//       content: "";
	//       height: 42px;
	//       height: 2.625rem;
	//       background-color: $rockridge-gray;
	//       display: block;
	//       position: fixed;
	//       left: 0;
	//       right: 0;
	//       top: $header-height-lg;
	//       margin: 0 auto;
	//     }

	//     .menu-item {
	//       display: block;
	//       @include media($bp-md) {
	//         display: none;
	//       }

	//       &:hover,
	//       &:focus {
	//         background-color: darken($rockridge-gray, 10%);
	//       }

	//       &.active {
	//         display: block;
	//       }
	//     }
	//   }
	// }
}

.sticky-nav {
	display: none;
	position: absolute;
	background-color: $rockridge-gray;
	height: 2.15rem;
	bottom: 0;
	width: 100%;
	z-index: -1;
	transition: bottom 300ms ease;

	@include media($bp-md) {
		display: block;
	}
	&.visible {
		bottom: -2.15rem;
	}
	&.invisible {
		.container {
			height: 100% !important;
		}
	}
	&.closed {
		.menu-item {
			&:active, &.active {
				background: none;
			}
		}
	}

	.container {
		height: 100%;
		overflow: hidden;
		transition: height 300ms ease;
	}

	.menu-item {
		color: $white;
		margin-right: -1.25rem;
		font-size: 1rem;
		transition: all 300ms ease;

		&:hover,
    &:active,
    &.active,
    &:focus {
			background-color: $black;

      &:before {
        background-color: $white;
      }
		}
	}
}

.sticky-section-menu {
	transition: margin 300ms ease;
  width: 300px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: -1.25rem;
  background-color: $rockridge-gray;

	.sticky-nav.open & {
		margin-top: 0 !important;
	}
}

// Big menu items
.big-menu {
	margin-top: -1.25rem;

	.menu-item {
		padding: 1.25rem 0 1.25rem 1.25rem;

		h3 {
			margin-bottom: 0.5rem;
		}

		p {
			color: $color-text-body;
			margin: 0;
		}

		a,
		a:hover,
		a:focus,
		a:active {
			text-decoration: none;
		}

		&.selected {
			padding-bottom: 0;
		}
	}
}

.grid-row.big-menu-group {
	margin-bottom: 0;
	position: relative;
	display: none;

	a {
		color: $color-text-body;
		display: block;
		height: 5.25rem;
		background-color: $gray-light;
		padding: 1rem 5rem 1rem 1rem;
		margin-top: $gutter;
		position: relative;

		&:hover,
		&:focus {
			text-decoration: none;
			background-color: $gray;
		}

		&:active {
			text-decoration: none;
			color: $white;
			background-color: $rockridge-gray;
		}
	}
}

.big-menu-icon {
	position: absolute;
	right: 1rem;
	top: 1rem;
}

// .selected + .big-menu-group {
//   display: block;
// }
