// Basic menu
//
// A menu on the side of a page, defaults to left side. e.g. github.com/about
.menu-item {
  position: relative;
  display: block;
  color: $oakland-green;
  padding: 6px 5px 4px $gutter;
  margin-left: -$gutter; // negative margin + extra padding trick to pull the background over the left gutter

  &:hover, &:focus {
    text-decoration: none;
    background-color: $gray-lighter;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2px;
      content: "";
      background-color: $oakland-green;
    }
  }

  &:active {
    color: darken($oakland-green, 10%);
    &:before {
      background-color: darken($oakland-green, 10%);
    }
  }

  &.selected {
    cursor: default;
    background-color: $gray-lighter;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2px;
      content: "";
      background-color: $oakland-green;
    }
  }
}

// Section menu
.section-menu {
  position: relative;
  transition: all 0.2s;

  .menu-item {
    color: $white;
    font-size: 1rem;
    padding: 9px 5px 9px 1.25rem;
    transition: background 0.2s ease;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2px;
      content: "";
      background-color: transparent;
      transition: all 0.2s ease;
    }

    &:hover, &:focus {
      background-color: transparent;

      .sticky & {
        background-color: darken($oakland-green, 10%);
      }

      &:before {
        background-color: $white;
      }
    }

    &:active {
      background-color: rgba($black, 0.5);

      &:before {
        background-color: darken($white, 10%);
      }
    }

    &.active {

      .sticky & {
        background-color: darken($oakland-green, 10%);
        display: block !important;
      }

      &:before {
        background-color: $white;
      }
    }
  }

  // If the menu is in going into or out of sticky mode 
  .sticky & {
    padding-top: 0;
    padding-bottom: 0;
    // min-height: 0;
    // position: absolute; // make it absolute so it can grow/shrink indepdently

    // &:before {
    //   width: 1.25rem; // change the size of the :before content to not extend the full width of the parent
    //   left: -1.25rem;
    // }
  }

  // If the menu is done animating into sticky mode
  .done & {
    position: absolute;
    background-color: $oakland-green;

    &:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 1.25rem; // change the size of the :before content to not extend the full width of the parent
      left: -1.25rem;
      background-color: $oakland-green;
    }
  }
}

// Big menu items
.big-menu {
  margin-top: -1.25rem;

  .menu-item {
    padding: 1.25rem 0 1.25rem 1.25rem;

    h3 {
      margin-bottom: 0.5rem;
    }

    p {
      color: $color-text-body;
      margin: 0;
    }
  }
}


