// Clearfix
//
// Clears floats via mixin (avoid using as a class).

@mixin clearfix {
  &:before {
    display: table;
    content: "";
  }

  &:after {
    display: table;
    clear: both;
    content: "";
  }
}

// Creates a linear gradient background, from top to bottom.
//
// $start - The color hex at the top.
// $end   - The color hex at the bottom.

@mixin gradient($start: #fafafa, $end: #eaeaea) {
  @warn "Gradient mixin is deprecated.";
  // scss-lint:disable VendorPrefix
  background-color: $end;
  // FF 3.6+
  background-image: -moz-linear-gradient($start, $end);
  // Safari 5.1+, Chrome 10+
  background-image: -webkit-linear-gradient($start, $end);
  background-image: linear-gradient($start, $end);
  background-repeat: repeat-x;
}

// Text hiding for image based text replacement.
// Higher performance than -9999px because it only renders
// the size of the actual text, not a full 9999px box.

@mixin hide-text() {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

// Octicon bootstrap
//
// Quickly load the typography requirements for Octicons icon font.

@mixin icon-bootstrap($size) {
  font: normal normal #{$size}/1 "octicons";
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}

// Color theme mixins
//
// Create color rules for specific child elements of site sections

@mixin theme($name, $color) {
  $primary: $color;
  $lightened: lighten($color, 10%);
  $darkened: darken($color, 10%);
  $hover: darken($color, 20%);
  $desaturated: desaturate($lightened, 20%);

  .#{$name} {
    a {
      color: $primary;

      &:hover {
        color: $hover;
      }
    }

    .btn {
      background: $darkened;
      border-left-color: $darkened;

      &:hover, &:focus {
        background: $hover;
        border-left-color: $primary;
      }

      &:active {
        background: $primary;
        border-left-color: $hover;
      }

      &[disabled],
      &[disabled]:hover,
      &[disabled]:focus,
      &[disabled]:active,
      &.disabled,
      &.disabled:hover,
      &.disabled:focus,
      &.disabled:active {
        background: $desaturated;
        border-left-color: $desaturated;
      }
    }

    .menu-item {
      color: $primary;

      &:hover, &:focus {
        color: $primary;

        &:before {
          background-color: $primary;
        }
      }

      &:active {
        color: $darkened;

        &:before {
          background-color: $darkened;
        }
      }
    }

    .section-menu {
      .menu-item {
        color: $white;

        &:hover, &:focus {
          background-color: $darkened;

          &:before {
            background-color: $white;
          }
        }

        &:active {
          &:before {
            background-color: darken($white, 10%);
          }
        }

        &.selected {
          &:before {
            background-color: $white;
          }
        }
      }
    }
  }
}

// Iterates thru our $themes color map and creates styles for child elements of our site subsections

@each $theme, $color in $themes {
  @include theme($theme, $color);
}