// Off-canvas global navigation

$mobile-nav-width: 80%;
$global-nav-width: 213px;

.global-navigation-wrap {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	z-index: 100000;
	background-color: $color-side-nav-bg;
	display: none;
	transition: right 300ms ease;

	.container {
		height: 100%;
	}

	.logo-wrap {
		display: block;
		margin-bottom: 2.5rem;
		padding-top: 2.5rem;
		width: 100%;

		&:after {
			content: "";
			position: absolute;
			left: -$gutter;
			top: 0;
			bottom: 0;
			width: 2px;
			background-color: $white;
		}
	}

	.site-logo {
	}
}


// This crazy hack keeps the scrollbar visible in Chrome while still disabling scroll
.nav-visible {
	position: fixed;
	overflow-y: scroll;
	left: 0;
	right: 0;
}

.global-navigation {
	@include calc('width', '13.3125rem + 1.25rem');
	background-color: $color-side-nav-bg;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding-left: $gutter;
	font-size: 1rem;
	height: 100%;
	overflow-y: auto;
	overflow-x: none;

	strong {
		display: block;
		padding: 10px 0;
		color: $white;
	}

	.menu-item {
		font-size: 1rem;
		margin-left: 0;
		color: $white;
		padding: 10px 5px 10px 1.25rem;
		transition: all 0.2s;

		&:before {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      width: 2px;
      content: "";
      background-color: transparent;
      transition: all 0.2s ease;
    }

		&:hover, &:focus {
			background-color: transparent;

			&:before {
		transition: all 0.2s;
	      background-color: $white;
			}
		}

		&:active, &.active {
			color: darken($white, 10%);
			background-color: transparent;

			&:before {
		transition: all 0.2s;
	      background-color: $oakland-green;
			}
		}
	}

	@include media($bp-md) {
		// @include span-columns(4);
	}
}