// Off-canvas global navigation

$mobile-nav-width: 90%;
$global-nav-width: 213px;

.global-navigation-wrap {
	position: fixed;
	width: $mobile-nav-width;
	@include calc(height, '100vh - 181px');
	top: -100vh;
	transition: all 0.2s ease-out;
	z-index: 10000;
	background-color: $color-side-nav-bg;

	@include media($bp-md) {
		top: -100vh;
		width: $global-nav-width;
		background-color: transparent;
		@include calc(height, '100vh - 123px');
	}

	&:before {
		content: "";
		position: absolute;
		background-color: $color-side-nav-bg;
		width: 142px;
		left: -142px;
		@include calc(height, '100vh - 123px');
	}

	.nav-visible & {
		top: 123px;
	}

	.container {
		height: 100%;
	}
}


// This crazy hack keeps the scrollbar visible in Chrome while still disabling scroll
.nav-visible {
	position: fixed;
	overflow-y: scroll;
	left: 0;
	right: 0;
}

.global-navigation {
	@include fill-parent;
	background-color: $color-side-nav-bg;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	font-size: 0.875rem;
	height: 100%;
	overflow-y: auto;
	overflow-x: none;

	// &:after {
	// 	content: "";
	// 	position: absolute;
	// 	background-color: $gray-lighter;
	// 	width: 100%;
	// 	left: -100%;
	// 	height: 100vh;
	// }

	strong {
		display: block;
		padding: 10px 0;
		color: $white;
	}

	.menu-item {
		font-size: 0.875rem;
		margin-left: 0;
		color: $white;
		padding: 10px 5px 10px 1.25rem;
		transition: all 0.2s;

		&:before {
			transition: all 0.2s;
		}

		&:hover, &:focus {
			background-color: transparent;

			&:before {
		transition: all 0.2s;
	      background-color: $white;
			}
		}

		&:active, &.active {
			color: darken($white, 10%);
			background-color: transparent;

			&:before {
		transition: all 0.2s;
	      background-color: $oakland-green;
			}
		}
	}

	@include media($bp-md) {
		// @include span-columns(4);
	}
}