// Post components

.post-excerpt {
	margin-bottom: 42px;
	margin-bottom: 2.625rem;

	&:last-of-type {
		margin-bottom: 0;
	}

	.post-data,
	h3,
	img {
		margin-bottom: 20px;
		margin-bottom: 1.25rem;
	}
}