// Section elements

.subnav {
	// background-color: $oakland-green;
	overflow: hidden;

	&.sticky {
		background-color: $oakland-green;

		.grid-row {
			margin-bottom: 0;
		}
		.section-menu {
			padding-top: 1rem;
			padding-bottom: 1rem;
		}
	}
}

.subheader {
	background-color: $oakland-green;
	min-height: 400px;
	top: 0;
  left: 0;
  right: 0;
  position: absolute;
  max-width: inherit;
  margin: 0 auto;
  z-index: 900;
}

// Main content footer
.content-footer {
	position: relative;
	overflow: hidden;
}