// Section elements

.subnav {
	// background-color: $oakland-green;
	overflow: hidden;
	min-height: 42px;

	&.sticky {
		background-color: $oakland-green;
		overflow: visible;

		.grid-row {
			margin-bottom: 0;
		}
	}
}

.subheader {
	background-color: $oakland-green;
	height: 425px;
	top: 0;
  left: 0;
  right: 0;
  position: absolute;
  max-width: inherit;
  margin: 0 auto;
  z-index: 900;
  transition: all 0.2s ease-out;
}

// Main content footer
.content-footer {
	position: relative;
	overflow: hidden;
}

// Main content overlay, when global nav is open
.main-overlay {
	position: absolute;
	transition: background 0.3s ease-out;

	.nav-visible & {
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba($black, 0.4);
		z-index: 1000;
	}
}