// Headings
// --------------------------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  border: none;
  font-family: $header-font;
  font-weight: lighter;
  margin-bottom: 0.75em;
  margin-top: 0;
  line-height: 1;

  a {
    font-size: inherit;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  display: block;
  font-family: $header-font;
  font-weight: lighter;
  margin-top: 0;
  line-height: 1;

  a {
    font-size: inherit;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
  }
}

h1,
.h1 {
  font-size: 2rem;
  margin-bottom: 2.625rem;
  line-height: 1.5;
}

h2,
.h2 {
  font-size: 2rem;
  margin-bottom: 2.625rem;
  line-height: 1.25;
}

h3,
.h3 {
  font-size: 1.5rem;
  margin-bottom: 1em;
  line-height: 1.25;
}

h4,
.h4 {
  font-size: 1.1875rem;
  margin-bottom: 1em;
  font-weight: bold;

  &.aside-title {
    margin-top: 0.75rem;
    margin-bottom: 2.625rem;
  }
}

h5,
.h5 {
  font-size: 1.25rem;
  margin-bottom: 1em;
}

h6,
.h6 {
  font-size: 1rem;
  margin-bottom: 1em;
}

// Body text
// --------------------------------------------------

small, .text-small {
  font-size: 0.875rem;
}

blockquote {
  margin: 0 0 1.5rem 0;
  padding: 0 $gutter;
  border-left: 2px solid $oakland-green;
  color: $color-text-body;
}

// Large leading paragraphs
.lead {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 300;
  color: #555;
}

// Text utilities
.text-muted { color: $muted; }
.text-danger { color: $error; }

.text-emphasized {
  font-weight: bold;
  color: #333;
}

// Links
// --------------------------------------------------
a {
  color: $oakland-green;
  text-decoration: none;

  &:hover, &:focus {
    text-decoration: underline;
  }

  &:active {
    color: darken($oakland-green, 20%);
  }

  &.muted-link {
    color: $muted;

    &:active {
      color: darken($muted, 20%);
    }
  }
}


// Lists
// --------------------------------------------------

ul,
ol {
  padding-left: 2rem;
  margin-top: 0;
  margin-bottom: 0;
}

// No list style
.list-no-style {
  list-style: none;
  padding-left: 0;
}

ol ol,
ul ol {
  list-style-type: lower-roman;
}

ul ul ol,
ul ol ol,
ol ul ol,
ol ol ol {
  list-style-type: lower-alpha;
}

dd {
  margin-left: 0;
}

li {
  margin-bottom: 1rem;
}


// Code
// --------------------------------------------------

tt,
code {
  font-family: $mono-font;
  font-size: 12px;
}

pre {
  margin-top: 0;
  margin-bottom: 0;
  font: 12px $mono-font;
}
