// This file overrides the styles applied to the .markdown-body sections
// for the content inside of .docs-example blocks

.docs-example {
	@import "../../scss/mixins";
	@import "../../scss/type";
	@import "../../scss/buttons";
	@import "../../scss/text-elements";
	@import "../../scss/menu";
	@import "../../scss/links";	
	@import "../../scss/forms";
	@import "../../scss/footer";
	@import "../../scss/alerts";

	input,
	select,
	textarea,
	button,
	p,
	li,
	a {
	  font: #{$body-font-size}/1.5rem $body-font;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 0;
	}

	h1,
	h2 {
		padding-bottom: 0;
	}

	h6 {
		color: inherit;
	}

	p {
		margin-bottom: 1.5rem;
	}

	hr {
		margin: 0 0 2rem;
	}

	// Override for prev/next links container issue in the docs
	.previous-next-links.container {
		padding: 0;
	}
}