// This file overrides the styles applied to the .markdown-body sections
// for the content inside of .docs-example blocks
.docs {
	// Navigation
	.global-navigation-wrap {
		display: none;

		@include media($bp-md) {
			display: block;
		}
	}

	.global-navigation {
		width: 100% !important; // override width from js
	  margin-right: 0;
	  display: none;
	  margin-bottom: 0;
	  padding-left: 3rem;
	  background-color: #212121;
	  left: 0;
	  top: 0;
	  z-index: 1000;
	  position: fixed;
	  padding-bottom: 4rem;

	  @include media($bp-md) {
		  width: 25.54586% !important; // override width from js
	  	display: block;
	  }

	  .logo-wrap {
	  	margin-bottom: 3rem;
	  	float: right;

	  	&:after {
				content: "";
				position: absolute;
				left: -$gutter;
				top: 0;
				bottom: 0;
				width: 2px;
				background-color: $white;
			}
	  }

	  .top-level-menu {
	  	position: relative;
	  	float: left;
	  	width: 100%;
	  	margin-right: $gutter;

	  	@include media($bp-md) {
	  		float: right;
	  	}
	  }

	  .nav-sub-menu {
	  	display: none;
	  }

	  strong {
	    padding: 0;
	  }

	  .menu-item {
	    padding-left: 1.25rem;
	  }

	  .nav-sub-menu {
	    padding-left: 1.25rem;

	    .menu-item:before {
	      left: -$gutter;
	    }
	  }
	}

  .navicon {
    background-color: $white;

    &:before,
    &:after {
      background-color: $white;
    }
  }

	main {
	  background-color: #EAEBE8;
	  margin-bottom: 0;
	}

	hr {
	  border-color: #D1D2D0;
	}

  code {
		font-size: 1.1875rem;
    background-color: $gray;
    padding: 5px;
    border-radius: 5px;    
  }
}

.docs-example {
	@import "../../scss/mixins";
	@import "../../scss/type";
	@import "../../scss/buttons";
	@import "../../scss/text-elements";
	@import "../../scss/menu";
	@import "../../scss/links";	
	@import "../../scss/forms";
	@import "../../scss/header";
	@import "../../scss/footer";
	@import "../../scss/alerts";
	@import "../../scss/posts";

	input,
	select,
	textarea,
	button,
	p,
	li,
	a {
	  font: 1.1875rem/1.5 $body-font;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-top: 0;
	}

	h1,
	h2 {
		padding-bottom: 0;
	}

	h6 {
		color: inherit;
	}

	p {
		margin-bottom: 1.5rem;
	}

	hr {
		margin: 0 0 2rem;
	}

	// Override for prev/next links container issue in the docs
	.previous-next-links.container {
		padding: 0;
	}

	// Table overrides
	table tr:nth-child(2n) {
		background: none;
	}

	// Example navicon
  .navicon {
    background-color: $oakland-green;

    &:before,
    &:after {
      background-color: $oakland-green;
    }
  }

  .breadcrumb-wrap .breadcrumbs {
  	a {
  		color: $muted;

  		&:after {
  			color: $white;
  		}
  	}

  	span {
  		color: $white;
  	}
  }
}